/tab_asemat.xml
/tab_ennuste.xml
/tab_historia.xml
/tab_sade.xml
/tab_tuorein.xml
/tab_varoitukset.xml
/w32_asemat_selected.png
/w32_asemat_unselected.png
/w32_ennuste_selected.png
/w32_ennuste_unselected.png
/w32_historia_selected.png
/w32_historia_unselected.png
/w32_sade_selected.png
/w32_sade_unselected.png
/w32_tuorein_selected.png
/w32_tuorein_unselected.png
/w32_varoitukset_selected.png
/w32_varoitukset_unselected.png
